@import url(https://fonts.bunny.net/css?family=roboto:100,400,500,700);

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: 
        "sidebar main" 400px
        "sidebar main" 1fr
        / 300px 1fr;
}

/***
 * Sidebar
 */

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
}

.branding {
    display: flex;
    align-items: center;
    padding: 30px 0 50px 10px;
    gap: 10px;
}

.branding img {
    height: 50px;
    filter: invert(100%);
}

li img {
    height: 30px;
    vertical-align: middle;
    filter: invert(100%);
    margin-right: 15px;
}

li {
    font-size: 20px;
    padding: 10px 0 10px 25px;
    font-weight: 700;
}

li a {
    color: white;
    text-decoration: none;
}

/***
 * Main
 */

.main {
    grid-area: main;
    display: grid;
    grid-template: 
        "banner" 200px
        "content" 1fr
        / auto;
}

/***
 * Search
 */

.search {
    display: grid;
    grid-template-columns: 1fr 13fr 1fr 1fr 2fr;
    align-items: center;
    padding: 20px 40px;
}

.search img {
    height: 50px;
}

.search input {
    width: 80%;
    height: 25px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 20px;
    padding: 7px 20px;
    font-size: larger;
}

img.symbol {
    height: 25px;
}

img.symbol:first-child {
    justify-self: flex-end;
    margin-right: 20px;
}

/***
 * Sub-banner
 */

.sub-banner {
    display: grid;
    padding-left: 60px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sub-banner img {
    height: 100px;
}

.greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.user-greeting {
    justify-self: start;
    align-self: center;
    padding-left: 30px;
}

/***
 * Content
 */

.content {
    display: grid;
    overflow: auto;
    grid-template:
        "projects announcements" 1fr
        "projects trending" 1fr
        / 3fr 1fr;
    background-color: #e2e8f0;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;
    padding: 40px 30px;
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 25%);
}

/***
 * Project List
 */

.project-body {
    grid-area: projects;
    overflow-y: scroll;
}

.project-header h2 {
    margin-top: 40px;
    margin-left: 20px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
    padding: 20px;
}

/***
 * Individual Cards
 */

.project-card {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;    
    background-color: white;
    border-left: 10px solid #eeb632;
}

.project-card p {
    color: #636363;
}

.card-interactions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 25px;
}

.card-interactions img {
    height: 25px;
}

/***
 * Announcements
 */

.announcements {
    grid-area: announcements;
}

.announcement-header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.announcement {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0 20px 0;
}

.announcement p {
    color: #636363;
}

.announcement:first-child {
    margin: 0;
    padding-top: 0;
}

.announcement:last-child {
    padding-bottom: 0;
    border: none;
}

/***
 * Trending
 */

.trending {
    grid-area: trending;
}

.trending-header {
    margin-top: 10px;
    padding-bottom: 20px;
}

.trending-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 0px;
}

.trending-cards {
    padding: 20px 0 20px 20px;
}

.trending-card {
    margin-bottom: 13px;
}

.trending-card:last-child {
    margin-bottom: 0;
}

.avatar img.user-avatar {
    height: 50px;
}

.user {
    font-weight: 500;
}

.trending-project {
    color: #636363;
}

.profile {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 10px 0 10px 20px;
}

.attribution  {
    text-decoration: none;
    color: #636363;
    background-color: #e2e8f0;
    text-align: end;
    padding-right: 30px;
}

/*** 
 * Banner
 */

.banner {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    z-index: 1;
}